*.DS_Store*
.fleet/*
.idea/
.git/
.venv/
venv/
*pycache*
weights/
videos/
train_imgs/
logs/
datasets/data/
datasets/data_new/
datasets/dist_data/
bests/
*hydra*
outputs/*
benchmarks.yaml
benchmark/
benchmarks/
results/*
inference_cpu.py